@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");

:root {
  --primary-font: "Ubuntu", sans-serif;
  --bg-color: #000000;
  --primary-color: #198cff;
  --game-over-color: #d13a3a;
  --branco: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  font-family: var(--primary-font);
}

h1 {
  font-size: 5em;
  margin-bottom: 70px;
}

h2 {
  font-size: 4em;
}

h3 {
  font-size: 2em;
  margin-top: 25px;
  margin-bottom: 40px;
}

.mensagem {
  font-size: 1.5em;
  margin-top: 40px;
  color: var(--game-over-color);
}

.box {
  border: 2px solid var(--game-over-color);
  display: inline-block;
  font-size: 4em;
  padding: 15px; /*padding-top, padding-right, padding-bottom, padding-left*/
  margin: 32px;
}

.btn-jogar {
  font-family: var(--primary-font);
  padding: 16px;
  border: var(--primary-color) 2px solid;
  background-color: var(--bg-color);
  color: var(--branco);
  margin: 48px;
  cursor: pointer;
  transition: 0.5s;
  font-size: 20px;
}

.btn-jogar:hover {
  transition: 0.5s;
  border-radius: 14px;
  background-color: var(--primary-color);
}

.go-h2{
    color: var(--game-over-color);
}

.go-h3{
    color: var(--branco);
}

.go-btn{
    font-family: var(--primary-font);
    padding: 16px;
    border: var(--game-over-color) 2px solid;
    background-color: var(--bg-color);
    color: var(--branco);
    margin: 48px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 20px;
}

.go-btn:hover {
    transition: 0.5s;
    border-radius: 14px;
    background-color: var(--game-over-color);
  }